<{strip}>
<div class="<{$xoops_dirname}>">
<{include file="db:`$xoops_dirname`_inc_menu.html"}>
<h1><{$langman->get('LANG_APPROVAL_DELETE'))></h1>

<div class="alert"><{$langman->get('MESSAGE_CONFIRM_DELETE')}></div>

<form class="form-horizontal" action="./index.php?action=ApprovalDelete" method="post">
  <dl class="dl-horizontal">
    <dt><{$langman->get("LANG_APPROVED_BY")}></dt>
<{if $object->get('uid') > 0}>
    <dd><{$object->getShow('uid')|xoops_user:"user_name"}></dd>
<{else}>
    <{assign var=gid value=$object->get('gid')}>
    <dd><{$groups.$gid|xoops_escape}></dd>
<{/if}>
    <dt><{$langman->get("LANG_DIRNAME")}></dt>
    <dd><{$object->getShow('dirname')}></dd>
    <dt><{$langman->get("LANG_DATANAME")}></dt>
<{assign var=dirname value=$object->get('dirname')}>
<{assign var=dataname value=$object->get('dataname')}>
    <dd><{$clients.$dirname.$dataname.label|xoops_escape}></dd>
    <dt><{$langman->get("LANG_STEP")}></dt>
    <dd><{$object->getShow('step')}></dd>
  </dl>
  <div class="form-actions">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=approval_id value=$actionForm->get('approval_id')}>
    <button type="submit" class="btn btn-primary" value="<{$smarty.const._DELETE}>"><{$smarty.const._DELETE}></button>
    <button type="submit" class="btn" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"><{$smarty.const._CANCEL}></button>
  </div>
</form>
</div>
<{/strip}>
