<div class="<{$xoops_dirname}>">
<{include file="db:`$xoops_dirname`_inc_menu.html"}>

<{if $actionForm->hasError()}>
  <ul class="alert alert-error">
    <{foreach item=message from=$actionForm->getErrorMessages()}>
      <li><{$message|xoops_escape}></li>
    <{/foreach}>
  </ul>
<{/if}>

<h1><{$langman->get("LANG_APPROVE_ITEM")}></h1>

<dl class="dl-horizontal">
    <dt><{$langman->get("LANG_TITLE")}></dt>
    <dd><a href="<{$object->mItem->get('url')|xoops_escape}>"><{$object->mItem->getShow('title')}></a></dd>
    <dt><{$langman->get("LANG_DIRNAME")}></dt>
    <dd><{$object->mItem->getShow('dirname')}></dd>
    <dt><{$langman->get("LANG_DATANAME")}></dt>
    <dd><{$object->mItem->getShow('dataname')}></dd>
    <dt><{$langman->get("LANG_TARGET_ID")}></dt>
    <dd><{$object->mItem->getShow('target_id')}></dd>
    <dt><{$langman->get("LANG_UID")}></dt>
    <dd><{$object->mItem->getShow('uid')|xoops_user:"user_name"}></dd>
    <dt><{$langman->get("LANG_STEP")}></dt>
    <dd><{$object->mItem->getShow('step')}></dd>
    <dt><{$langman->get("LANG_STATUS")}></dt>
    <dd><{$object->mItem->getShowStatus()}></dd>
    <dt><{$langman->get("LANG_POSTTIME")}></dt>
    <dd><{$object->mItem->get('posttime')|xoops_formattimestamp:m}></dd>
    <{if $object->mItem->get('deletetime')>0}>
    <dt><{$langman->get("LANG_DELETETIME")}></dt>
    <dd><{$object->mItem->get('deletetime')|xoops_formattimestamp:m}></dd>
    <{/if}>
</dl>

<form class="form-horizontal" action="<{xoops_cooluri dirname=$xoops_dirname dataname=history data_id=$object->getShow('progress_id') action=edit}>" method="post">
  <div class="control-group">
    <label><{$langman->get("LANG_RESULT")}></label>
    <div class="controls">
      <label><input type="radio" name="result" value="9" /><{$langman->get("LANG_RESULT_APPROVE")}></label>
      <label><input type="radio" name="result" value="1" /><{$langman->get("LANG_RESULT_REJECT")}></label>
    </div>
  </div>
  <div class="control-group">
    <label><{$langman->get("LANG_COMMENT")}></label>
    <div class="controls">
      <{xoops_textarea type=text name=comment value=$actionForm->get('comment')}>
    </div>
  </div>
  <div class="form-actions">
    <{xoops_token form=$actionForm}>
    <{xoops_input type=hidden name=item_id value=$actionForm->get('item_id')}>
    <{xoops_input type=hidden name=progress_id value=$actionForm->get('progress_id')}>
    <button type="submit" class="btn btn-primary" value="<{$smarty.const._SUBMIT}>"><{$smarty.const._SUBMIT}></button>
    <button type="submit" class="btn" value="<{$smarty.const._CANCEL}>" name="_form_control_cancel"><{$smarty.const._CANCEL}></button>
  </div>
</form>

<{if !empty($object->mItem->mHistory)}>
<h2><{$langman->get("LANG_HISTORY")}></h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th><{$langman->get("LANG_APPROVED_BY")}></th>
    <th><{$langman->get("LANG_STEP")}></th>
    <th><{$langman->get("LANG_RESULT")}></th>
    <th><{$langman->get("LANG_COMMENT")}></th>
    <th><{$langman->get("LANG_APPROVEDTIME")}></th>
  </tr>
  </thead>
  <tbody>
<{foreach item=history from=$object->mItem->mHistory}>
  <tr class="<{cycle name=oddeven values='odd,even'}>">
    <td><{$history->getShow('uid')|xoops_user:"user_name"}></td>
    <td><{$history->getShow('step')}></td>
    <td><{$history->getShowResult()}></td>
    <td><{$history->getShow('comment')}></td>
    <td><{$history->getShow('posttime')|xoops_formattimestamp:m}></td>
  </tr>
<{/foreach}>
  </tbody>
</table>
<{/if}>
</div>
